body {
  margin: 0;
  padding: 0;
  font-family: times;
  background-image:url(https://s3.favim.com/orig/40/cat-cute-fluffy-laptop-Favim.com-332805.jpg);
  background-size: 100%;

}
h1{
  font-family: 'time';
  color: green;
  font-size: 20px;
  line-height: 50px;
  font-size: 4vw;
}
